<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.father.mapper.EmojiMapper">

    <resultMap id="BaseResultMap" type="com.yupi.father.model.entity.Emoji">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="reviewStatus" column="reviewStatus" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,name,
        userId,tags,reviewStatus,
        createTime,isDelete,updateTime
    </sql>
</mapper>
